main .wrapper {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: gainsboro solid 1px;
    text-align: center;
}
.wrapper h1 {
    margin-bottom: 10px;
    font: 700;
    color: #42bff5;
}
.wrapper h2 {
    margin-bottom: 10px;
    font: 400;
    color: #42bff5;
}
.wrapper p {
    margin-bottom: 10px;
}

.wrapper label {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.wrapper input {
    box-sizing:border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    padding-left: 10px;
    text-align: start;
    border: #42bff5 1px solid;
    font-size: 16px;
}
.privacy p {
    text-align: justify;
}
.wrapper textarea {
    box-sizing:border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 50%;
    padding-left: 10px;
    padding-top: 5px;
    text-align: start;
    border: #42bff5 1px solid;
    font-size: 16px;
}
.wrapper select {
    box-sizing:border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
    width: 50%;
    padding-left: 10px;
    text-align: start;
    border: #42bff5 1px solid;
}

#submit {
    text-align: center;
    font-size: 24px;
    color: #42bff5;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
   main .wrapper {
        width: 80%;
    }
    .wrapper input {
        width: 100%;
    }
    .wrapper textarea {
        width: 80%;
    }
}
