{% extends 'base.html' %}

{% block content %}
    <div class="wrapper">
        <h1>About ScholarsHub</h1>
        <p>ScholarsHub is a website designed to connect students and graduates with amazing scholarship opportunities from top universities and institutions around the world.
        The platform also affords users the opportunity to download useful resources that will enable them to have a successful scholarship application
        </p>
        <p>Moreover, users can easily request for services like review of Statement of Purpose as well as CV. This way, users are receive quality feedback on how to make their SOPs and academic CV meet global standards.</p>
        <h1>Team</h1>
        <p>ScholarsHub is developed and run by Godwin Okpe. He developed the website as a portfolio project in the course of ALX Software Engineering Programme.</p>
    </div>
{% endblock %}