{% extends 'base.html' %}
{% block content %}
<div class="services">
    <div class="description">
        <h2>Services</h2>
        <div>
            <div>
                <img src="../static/images/sop.png" alt="" width="80px">
                <h3>Review of Statement of Purpose</h3>
                <p>Crafting a compelling Statement of Purpose (SOP) is a crucial step toward securing admission to your dream academic program. Your SOP is your voice, your story, and the key to standing out in a competitive application process. At ScholarsHub, we understand the significance of a well-written SOP in shaping your academic journey.</p>
                <p>Let us help you you review your SOP and make it competitive</p>
                <button>Request Service</button>
            </div>
            <div>
                <img src="../static/images/academic.png" alt=""width="80px">
                <h3>Review of Academic CV</h3>
                <p>Your Curriculum Vitae (CV) is more than just a document; it's a testament to your academic achievements, research prowess, and future potential. At ScholarsHub, we understand the significance of a well-crafted Academic CV in showcasing your scholarly journey. Elevate your academic profile with our specialized Academic CV Review service.</p>
                <button>Request Service</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}