{% extends "base.html" %}

{% block content %}
    <div class="wrapper">
        <h1>Request SOP Review</h1>
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name }} <br>
                {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.sop.label }}<br>
                {{ form.sop }} <br>
                {% for error in form.sop.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}